body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sidebar {
  display: block;
  height: 100vh;
  width: 25%;
  padding: 2rem;
  float: right;

  background: #293662;

  text-align: right;

  color: #eee;
  overflow: auto;
}

.sidebar__title {
  margin: 10rem 0;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0;
}

.btn--outline {
  border: solid #eee 0.1rem;
  border-radius: 0.2rem;
  color: inherit;
}

.btn--css {
  background-color: #84c946;
  float: right;
}

.btn--pure {
  background-color: #4763c9;
  float: right;
}

.content {
  display: block;
  width: 75%;
  height: 100vh;
  overflow: auto;
}

.post__author {
  overflow: auto;
}

.post__author-photo {
  float: right;
  height: 5em;
  border-radius: 50%;
}
